<div class="masthead">
  <div class="container">
    <div class="intro-text">
      <img class="mx-auto rounded-circle" src="../../assets/images/logo.png" style="max-width: 250px;" alt="">
      <div class="intro-lead-in">Encontre em 30 segundos</div>
      <div class="intro-heading text-uppercase">GUINCHO 24 HORAS</div>
      <div class="container">

        <div class="row">
          <div class="col-5 col-md-5 col-sm-12 form-group" style="margin-bottom: 15px;">
            <select class="form-control" name="uf" id="uf" [(ngModel)]="formData.idState" (ngModelChange)="listCompaniesCitiesByUf(formData.idState)">
              <option [value]="null" selected disabled>(Selecione o Estado)</option>
              <option *ngFor="let state of states" [value]="state.idState">{{state.name}}</option>
            </select>
          </div>
          <div class="col-5 col-md-5 col-sm-12">
            <select class="form-control" name="city" id="city" [(ngModel)]="formData.idCity">
              <option [value]="null" selected disabled>(Selecione a Cidade)</option>
              <option *ngFor="let city of cities" [value]="city.idCity">{{city.name}}</option>
            </select>
          </div>
          <div class="col-2 col-md-2 col-sm-12 pull-left" >
            <button class="butao btn btn-primary js-scroll-trigger" (click)="onChooseCity()" ><i class="fa fa-search"></i> BUSCAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
