<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading teste text-uppercase">Guinchos</h2>
        <h3 class="section-subheading text-muted">Resultados próximo a você</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 portfolio-item" *ngFor="let company of companies">
        <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="#portfolioModal" (click)="onClickCompany(company)">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="../../assets/images/{{company.image.path}}/{{company.image.fileName}}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4 class="text-uppercase">{{company.name}}</h4>
          <p class="text-muted">Clique para saber mais</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="portfolio-modal modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-bs-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <h2 class="text-uppercase">{{company.name}}</h2>
              <!-- <p class="item-intro text-muted">Alguma frase sobre o Zezinho</p> -->
              <img class="img-fluid d-block mx-auto" src="{{(company.idCompany != 0) ? '../../assets/images/'+company.image.path+'/'+company.image.fileName : ''}}" alt="">
              <p class="item-intro text-muted">Entre em contato com {{company.name}}</p>
              <br>
              <button class="btn btn-primary" (click)="generateWhatsAppLink(company.phone)" type="button">
                <i class="fa fa-paper-plane"></i> Enviar Mensagem
              </button>
              <button class="btn btn-primary" type="button" (click)="makeCall(company.phone)" *ngIf="isMobile()">
                <i class="fa-solid fa-phone"></i> Ligue Agora
             </button>             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="portfolio-modal modal fade" id="portfolioModal1Empresa" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal" onclick="refresh()">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <h2 class="text-uppercase">TUDO FEITO!</h2>
              <p class="item-intro text-muted">Sua mensagem foi enviada com sucesso, aguarde o contato da empresa</p>
              <img class="img-fluid d-block mx-auto" src="../../assets/images/guincho-02.jpg" alt="">
              <p class="item-intro text-muted">A empresa Zezinho Guinchos demora em media 20 minutos para um retorno</p>
              
              
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-search"></i>
                Entrar em contato</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->