<nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand" href=""></a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNavbar.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      MENU <i class="fas fa-bars"></i>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['']" routerLinkActive="router-link-active">HOME</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="router-link-active" >RELACIONAMENTO</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/services']" routerLinkActive="router-link-active" >PROCESSOS</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">SOBRE NÓS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">CONTATO</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
