// Styling for the contact section
section#contact {
  background-color: #281b2f;
  background-image: url(./assets/images/map-image.png);
  background-repeat: no-repeat;
  background-position: center;
}
section#contact .section-heading {
  color: #fff;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 248px;
}
section#contact .form-control:focus {
  border-color: #463281;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer {
  padding: 25px 0;
  text-align: center;
  flex-grow: 0;
  flex-basis: 100px;
  border-top: 1px solid #dbdbdb;
}