// Global styling for this template

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0
}
p {
  line-height: 1.75;
}
a {
  color: #463281;
}
a:hover {
  color: #c62bad;
}
.text-primary {
  color: #463281 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 767px) {
  .btn-primary {
    margin-top: 30px;
  }
}

.butao {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}
.btn-primary {
  background-color: #463281;
  border-color: #463281;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #c62bad !important;
  border-color: #c62bad !important;
  color: #fff;
}
.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}
::-moz-selection {
  background: #463281;
  text-shadow: none;
}
::selection {
  background: #463281;
  text-shadow: none;
}
img::selection {
  background: 0 0;
}
img::-moz-selection {
  background: 0 0;
}
